
<span style="display: flex; justify-content: center; align-items: center;">
    <div class="container-fluid" style="width: 100%;">
        <div class="row" style="width: 100%; display: flex; align-items: center; justify-content: center; text-align: center;">
            <div>
                <br/>
                <h2>Search Books</h2>
                <form action="/books" method="GET">
                    <input type="text" name="title" value=""></input>
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <br></br>
        <div class="container-fluid" style="width: 100%; text-align: center; justify-content: center;">
            <div class="row">
                <% for (var i = 0; i < books.length; ++i ) {%>
                    <div class="col-sm-4" style="padding: 20px;">
                        <form action="/books" method="POST">
                        <div class="card align-items-center" style="width: 18rem; background: whitesmoke; margin: auto;">
                            <img src="<%= books[i].coverImageName%>" class="card-img-top" style="width: 100px; height: 150px;" alt="<%= books[i].title%>">
                            <div class="card-body">
                            <h5 class="card-title"><%= books[i].title%></h5>
                            <p class="card-text book"><%= books[i].description %></p>
                            <a href="<%= books[i].link%>" target="_blank" class="btn btn-primary">View</a>
                                <input hidden="true" type="text" name="id" value="<%= books[i].id%>">
                                <button type="submit">Add to Shelf</button>
                            </div>
                        </div>
                    </form>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</span>
<style>
    .book {
        height: 120px;
        overflow: scroll;
    }
</style>
